*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{

}
h1{
    text-align: center;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.comic{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px black;
    border-radius: 30px;
}
.comic img{
  height: 300px;
  width: 300px;
}