.secondColor{
    color: rgba(255, 193, 78, 0.78);
}
li a:hover{
        color: rgba(255, 193, 78, 0.78) !important;
}
#main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card{
    padding: 30px;
}